{% schema %}
{
  "name": "BTS Beta Block",
  "target": "section"
}
{% endschema %}

<script src="{{ 'BlockMain.js' | asset_url }}" defer></script>

<div class="variant-groups" id="variantgroups">

</div>

<div class="better-than-sum-block">

  <input type="hidden" id="dbURL" value="{{ shop.metafields.better_than_sum.apiUrl.value }}">

</div>