{% schema %}
{
  "name": "BTS Beta Block",
  "target": "section"
}
{% endschema %}

<div class="better-than-sum-block">

  <h1>Hello from Better Than Sum!</h1>

</div>

<script src="{{ 'apiTest.js' | asset_url }}" defer></script>