{% schema %}
{
  "name": "BTS Beta Block",
  "target": "section"
}
{% endschema %}

<script src="{{ 'apiTest.js' | asset_url }}"></script>

<script>

  start("{{ shop.metafields.better_than_sum.apiUrl.value }}");

</script>

<div class="better-than-sum-block">

  <h1>Hello from Better Than Sum!</h1>

</div>