
.epsDetailsDiv {

}

.epsGroupsDiv {

}

.epsGroupsDiv > div {
    margin-top: 20px;
    border-width: 1px;
    border-color: rgb(201, 204, 207);
    border-radius: 4px;
    padding-left: 10px;
}

.epsVariationsDiv {

}

.epsVariationsDiv > div {
    margin-top: 10px;
    border-width: 1px;
    border-color: rgb(201, 204, 207);
    border-radius: 4px;
    padding-left: 10px;
}
