#helpDiv h1 {
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid;
  margin-top: 24px;
  margin-bottom: 16px;
  text-align: center;
}

#helpDiv h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid;
  margin-top: 24px;
  margin-bottom: 16px;
  padding-left: 25px;
}

#helpDiv h3 {
  font-size: 1.25em;
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 16px;
  padding-left: 25px;
}

#helpDiv h4 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
  padding-left: 25px;
}

#helpDiv p {
  margin-top: 0;
  margin-bottom: 16px;
  padding-left: 25px;
}
