#appDiv {
  display: flex;
  flex-direction: column;
}

#navDiv {
  width: 100%;
  height: 50%;
}

#navDiv ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}

#navDiv li {
  border-style: solid;
  border-color: #000000;
  list-style: none;
  float: left;
  width: 15%;
  text-align: center;
}

#navDiv a {
  display: block;
  width: 100%;
}

#navDiv li:hover {
  background-color: darkgrey;
}

#stateDiv {
  float: left;
  width: 100%;
  height: 100%;
  padding-top: 1%;
}
