#pageTitle {
  padding-left: 0;
  padding-bottom: 0.4em;
  font-size: 2em;
  text-align: center;
  border-bottom: 1px solid #737b80;
}

.psBTSProductDiv {
  padding-left: 25px;
}

.psBTSProductDiv h1 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid;
  margin-top: 24px;
  margin-bottom: 16px;
}
.psBTSProductDiv h2 {
  font-size: 1.25em;
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 16px;
}

.psBTSProductDiv button {
  background-color: #7ca8db; /* Main Button */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.psBTSProductDiv button:hover {
  background-color: #5a7a9e;
}

.psUnusedProductDiv {
  padding-left: 25px;
}

.psUnusedProductDiv h1 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid;
  margin-top: 24px;
  margin-bottom: 16px;
}
.psUnusedProductDiv h2 {
  font-size: 1.25em;
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 16px;
}

.psUnusedProductDiv button {
  background-color: #7ca8db; /* Main Button */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.psUnusedProductDiv button:hover {
  background-color: #5a7a9e;
}
