#totalPriceIndicator {

}

.groupDiv {

}

.groupDiv > button {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #323232;
	border-radius: 4px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.selectedVariant {
	background-color: rgba(92, 201, 255, 0.5) !important;
}